.masBigBox {
    display: flex;
    /* height: 18vh; */
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 0px;
    width: 100vw;
    /* margin: 2vh 5vw; */
    position: relative;
    font-family: sans-serif;
    overflow-x: hidden;
}

.masHead {
    align-self: center;
    padding: 2vh 0vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 4px solid #ecebff;
}

.masNoAddress{
    align-self: center;
    margin-top: 20vh;
    color: #554BDA;
    font-size: small;
    font-weight: 500;
    padding: 1vh 8vw;
    border-radius: 5px;
    border: 1.5px dashed #554BDA;
}

.mselectAdrTitle {
    margin-left: 3vw;
    align-self: center;
    font-size: 12px;
    font-weight: 500;
    color: #554BDA;
    align-self: center;
}

.manaButton{
    margin-right: 3vw;
    padding: 1vh 2vh;
    background-color: white;
    color: #554BDA;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    border: 2px solid #554BDA;
}

.manaButton:hover{
    color: white;
    background-color: #554BDA;
    cursor: pointer;
}

