.mobileoutterBox{
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4vw;
    margin-bottom: 1vh;
    margin-top: 0.5vh;

}

.mobilevariantAnyActive{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #554BDA;
    border-radius: 50%;
    background-color: #554BDA;
    color: white;
}

.mobilevariantAny{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    color: black;
}

.mobilevariantAny p{
    font-size: 14px;
    font-weight: 700;
}

.mobilevariantAnyActive p{
    font-size: 14px;
    font-weight: 500;

}

/* .mobilevariantAny:hover{
    border: 3px solid #554BDA;
} */