.product-content{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.sort-item{
    display: flex;
    flex-direction: column;
    width: 86%;
}

.itemsList{
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    margin: 1px 1px;
}