.minCreateModalTB{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 4vw;
    width: 92vw;
  }

  .minCreateModalAPTB-bag{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #554BDA;
  }

  .minCreateModalAPTB-bag-text{
    position: absolute;
    right: -8px;
    top: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: white;
  }

  .minCreateModalTBT1{
    font-size: medium;
    font-weight: 500;
  }

  .minCreateModalPI{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 4vh;
  }

  .minCreateModalPIImage{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    object-fit: cover;
    background-color: lightgrey;
  }

  .minCreateModalPIEdit{
    position: absolute;
    top: 20vw;
    left: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    background-color: #554BDA;
  }

  .minCreateModalDNHead{
    font-size: small;
    font-weight: 500;
    margin: 1vh 15vw;
  }

  .minCreateModalDN{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: 1vh 15vw;
  }

  .minCreateModalDNInput{
    width: 100%;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 1vh 4vw;
}

.minCreateModalDNIcon{
    position: absolute;
    right: 4vw;
}

.minCreateModalUNHead{
    font-size: small;
    font-weight: 500;
    margin: 2vh 15vw 1vh 15vw;
  }

  .minCreateModalUN{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: 1vh 15vw;
  }

  .minCreateModalUNInput{
    width: 100%;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 1vh 4vw;
}

.minCreateModalUNIcon{
    position: absolute;
    right: 4vw;
}


.minCreateModalFCHead{
  font-size: medium;
  font-weight: bold;
  margin: 4vh 8vw 0vh 4vw;
}

.minCreateModalFCAll{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2vh 4vw;
}

.minCreateModalFC {
  position: relative;
  display: flex;
  align-items: center;
  width: 45vw;
  height: 18vw;
  padding: 4vw 4vw;
  margin-bottom: 2vw;
  background-color: white;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
}

.minCreateModalFCL {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  object-fit: cover;
}

.minCreateModalFCR{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  margin-left: 2vw;  
}

.minCreateModalFCRText{
  display: flex;
  align-self: center;
  font-size: 10px;
  font-weight: bold;
  color: black;
}

.minCreateModalFCIcon{
  position: absolute;
  margin-left: 35vw;
  margin-top: 9vw;
  color: red;
}

.minCreateModalContinueButton{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #554BDA;
  border-radius: 5px;
  margin: 5vh auto;
  width: fit-content;
  padding: 1.5vh 8vw;
  font-size: small;
  font-weight: bold;
  color: white;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


.minCreateModalAPTB{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 4vw;
  width: 92vw;
}

.minCreateModalAPCountBox{
  position: fixed;
  top: 2vh;
  right: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99999;
}

.minCreateModalAPCount{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  background-color: #554BDA;
  font-size: 5vw;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
}

.minCreateModalAPCountBoxT1{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0.5vh 2vw;
  margin-top: 0.5vh;
  font-size: x-small;
  font-weight: bold;
  color: white;
  background-color: yellowgreen;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
}

.minCreateModalAPInputfield {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-left: 4vw;
}
.minCreateModalAPSIconBox {
  border-radius: 5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 2vw;
  height: 5vh;
  width: 5vh;
  background-color: transparent;
  border: none;
  font-size: small;
  color: lightgrey;
}
.minCreateModalAPInputfield input {
  padding-left: 4vw;
  height: 5vh;
  width: 65vw;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.minCreateModalAPHead{
  width: 65vw;
  margin-left: 4vw;
  margin-top: 9vw;
  font-size: x-small;
  font-weight: 500;
}

.minCreateModalBanner{
  margin: 2vh 5vw;
  border-radius: 5px;
  background-color: #ecebff;
  display: flex;
  justify-content: flex-start;
  padding: 2vh 4vw;
  font-size: 12px;
  font-weight: 500;
  color: #554BDA;
}

.minCreateModalBanner-text{
  font-weight: 500;
  font-size: 10px;
  color: #554BDA;
  margin-left: 2vw;
}

.minCreateModalAPLaunchInActive{
  width: 90vw;
  margin: 2vh 5vw;
  padding: 2vh 4vw;
  /* background-color: #c7c3ff; */
  border-radius: 5px;
  font-size: x-small;
  font-weight: 500;
  color: #554BDA;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1); */
}

.minCreateModalAPPLBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 2vh 2vw;
}

.minCreateModalAPLaunch{
  position: fixed;
  bottom: 0px;
  width: 60vw;
  margin: 2vh 20vw;
  padding: 2vh 4vw;
  background-color: #554BDA;
  border-radius: 5px;
  font-size: small;
  font-weight: 900;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.minCreateModalLoader1{
  margin: 5vh auto;
  display: flex;
  align-self: center;
  border: 3px solid #cecece; /* Light grey */
  border-top: 3px solid #554BDA; /* Blue */
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  animation: spin 1.5s linear infinite;
}

.minCreateModalLoader2{
  position: absolute;
  top: 50vh;
  left: 45vw;
  border: 3px solid #cecece; /* Light grey */
  border-top: 3px solid #554BDA; /* Blue */
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  animation: spin 1.5s linear infinite;
}

.minCreateModalLoader3{
  position: absolute;
  bottom: 0px;
  left: 45vw;
  margin: 2vh auto;
  display: flex;
  align-self: center;
  border: 3px solid #cecece; /* Light grey */
  border-top: 3px solid #554BDA; /* Blue */
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  animation: spin 1.5s linear infinite;
}

.minCreateModalUNDiv{
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 70vw;
  margin: 1vh 15vw;
}

.minCreateModalInputGreen{
  margin-top: 1vh;
  width: 70vw;
  border: 1px solid green;
  border-radius: 5px;
  padding: 1.5vh 4vw;
  font-size: 12px;
}

.minCreateModalInputRed{
  margin-top: 1vh;
  width: 70vw;
  border: 1px solid red;
  border-radius: 5px;
  padding: 1.5vh 4vw;
  font-size: 12px;
}

.minCreateModalUNValid{
  font-size: 10px;
  font-weight: 500;
  color: green;
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.minCreateModalUNInvalid{
  font-size: 10px;
  font-weight: 500;
  color: red;
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.minCreateModalLoader4{
  position: absolute;
  right: 6vw;
  top: 2vh;
  bottom: 2vh;
  align-self: center;
  border: 2px solid #cecece; /* Light grey */
  border-top: 2px solid #554BDA; /* Blue */
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}