
.box{
    box-sizing: border-box;

   position: absolute;
    width: 1042px;
    height: 244px;
   
    
    border: 2px solid #3F2B96;
}
.l1{
    position: absolute;
    width: 238px;
    height: 0px;
    border: 2px solid #3F2B96;
    transform: rotate(-90deg);
    margin-left: 319px;
    margin-top: 117px;
}
.l2{
    position: absolute;
    width: 238px;
    height: 0px;
    border: 2px solid #3F2B96;
    transform: rotate(-90deg);
    margin-top: 117px;
    margin-left: 426px;
}

.l3{
    position: absolute;
    width: 244.02px;
    height: 0px;
    position: absolute;
    width: 238px;
    height: 0px;
    border: 2px solid #3F2B96;
    transform: rotate(-90deg);
    margin-top: 117px;
    margin-left: 532px;
    
    
}
.l4{
    position: absolute;
    width: 244.02px;
    height: 0px;
    position: absolute;
    width: 238px;
    height: 0px;
    border: 2px solid #3F2B96;
    transform: rotate(-90deg);
    margin-top: 117px;
    margin-left: 860px;
    
    
}
