.reviewCardBox{
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    width: 35vw;
    justify-content: space-between;
    margin-bottom: 2vh;
}
.reviewCardBoxTop{
    display: flex;
    flex-direction: row;
    width: 35vw;
    justify-content: space-between;
}

.reviewCardBoxL{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.urImage{
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 0.75vw;
    background-color: black;
    margin-left: 1vw;
}
.urName{
    color: black;
    font-size: medium;
    margin-left: 1vw;
}

.reviewCardText{
padding-top: 1vh;
width: 33vw;
display: flex;
flex-wrap: wrap;
font-size: medium;
}

.reviewCardTime {
    font-size: small;
    color: grey;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 0.5vh;
    width: 33vw;
    display: flex;
    flex-direction: row;
    }