.minbnBox {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 1vh 2vh;
    box-shadow: 1px 1px 2px 2px rgb(0,0,0,0.3);
}

.minbnItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.minbnItemText {
    font-size: 10px;
    font-weight: bolder;
    color: grey;
    margin-top: 0.5vh;
}

.minbnItemTextActive {
    font-size: 10px;
    font-weight: bolder;
    color: #554BDA;
    margin-top: 0.5vh;

}