.rp-titlebar{
    background-color: #554BDA;
    padding: 2vh 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: sticky;
    top: 0px;
    z-index: 9;
}
.rp-titlebar p{
    padding-left: 40px;
    color: white;
    font-size: larger;
    font-weight: bold;
}
.imageaddLayout{
    padding: 0%;
    margin: 0%;
    max-height: 24.85vw;
    max-width: 24.85vw;
    align-self: center;
    background-color: black;
    object-fit: cover;
}

.videoLayout{
    padding: 0%;
    margin: 0%;
    max-height: 24.85vw;
    max-width: 24.85vw;
    align-self: center;
    background-color: black;
}

.picso{
    height: 25vw;
    width: 25vw;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    /* margin-left: 15vw; */
    /* margin-right: 1vw; */
    margin-top: 3vh;
    border: 0.15vw solid lightgrey;
}


.smallImg{
    margin-right: 2vw;
    height: 6vw;
    width: 6vw;
    border: 0.15vw solid lightgrey;
    
}

.smallImg:hover {
    border-color: #554BDA;
  }

.smallImages{
    width: 46vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4vh 2vw 0vh 2vw;
    box-sizing: border-box;
    justify-content: center;
}


.addProductInfo{
    display: flex;
}

.productPhotos{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    position: sticky;
    position: -webkit-sticky;
    top: 0px; 
    max-height: 100vh;
    z-index: 8;
}

.uploadPhoto{
    margin-top: 1.5vw;
    background-color: transparent;
    height: 8vh;
    border-radius: 5px;
    color: whitesmoke;
    width: 32vw;
    border: 0px solid transparent;
    font-size: 1vw;
    /* margin-left: 9vw; */
}

.uploadPhoto::-webkit-file-upload-button { 
    visibility: hidden;
    -webkit-appearance:none;
   -webkit-box-sizing:border-box;
   content: none;
  }

  .uploadPhoto::before {
    width: 100%;
    height: 100%;
    content: 'Upload Photos And Videos';
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: #554BDA;
    border-radius: 5px;
    color: whitesmoke;
    border: 1.5px solid #554BDA;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 500;
    font-size: medium;
  }

  .uploadPhoto:hover::before {
    background-color: #211266;
  }

.addInfo1{
    width: 50vw;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#priceDetails{
    padding-top: 3vh;
}


.headings{
   font-size: 1.15vw;
   font-weight: 700;
}

.subHeadingStar{
    display: flex;
}

.subHeadings{
    font-size: 0.95vw;
    padding-top: 0.8vw;
    font-weight: 580;
}

.star{
    color: red;
    padding-top: 0.8vw;
}


.inputBox{
    width: 40vw;
    height: 2.8vw;
    border-radius: 0.4vw;
    border: 0.15vw solid #DADADA;
    padding-left: 1vw;
}


.description{
    padding-top: 0.2vw;
    font-size: 0.7vw;
    font-weight: 580;
    color: grey;
}


.dropdown{
    font-size: 0.95vw;
    font-weight: 580;
}

.dropdownOption {
    width: 40vw;
    font-size: 0.95vw;
    font-weight: 580;
}

.dropbtnOption{
    background-color: white;
    height: 6vh;
    border-radius: 8px;
    font-weight: 580;
    width: 40vw;
    border: 0.15vw solid lightgray;
    font-size: 1vw;
}

.dropbtn{
    background-color: white;
    height: 6vh;
    border-radius: 8px;
    font-weight: 580;
    width: 15vw;
    border: 0.15vw solid lightgray;
    font-size: 1vw;
}

.option{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropbtn1{
    background-color: white;
    height: 6vh;
    border-radius: 8px;
    font-weight: 580;
    width: 15vw;
    border: 0.15vw solid lightgray;
    font-size: 1vw;
    margin-left: 2vw;
}

.btn{
    margin-top: 2vw;
    margin-left: 6.5vw;
    background-color: #554BDA;
    height: 7vh;
    border-radius: 8px;
    color: whitesmoke;
    width: 30vw;
    border: 0.15vw solid #554BDA;
    font-size: 1vw;
}


.btn:hover{
    border-color: lightgray;
}


.coladeal{
    display: flex;
    padding-top: 1vw;
}

#idealFor{
    margin-left: 13.5vw;
}

.variantsZ{
    display: flex;
}

#priceFor{
    margin-left: 10.8vw;
}

#sizze{
    margin-top: 1vw;
}


#newpriceDetails{
    padding-top: 5vh;
}


.varImages{
    padding-top: 2vw;
    padding-left: 2.5vw;
    display: flex;
}


.varImg{
    height: 5vw;
    width: 5vw;
    margin-right: 1.5vw;
    border: 0.15vw solid lightgrey;
    border-style: dashed;
}




.varImg:hover {
    border-color: #554BDA;
  }


.diva{
    margin-top: 1vw;
    margin-left: 6.5vw;
    width: 30vw;
    height: 6vh;
    /* border: 0.15vw solid lightgray; */
    /* border-style: dashed; */
}

.diva:hover{
    border-color: #554BDA;
}
.addVariantBox {
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
    margin-bottom: 4vh;
    align-items: center;
}
.addVariantBox p{
    font-size: larger;
    font-weight: bold;
    margin-right: 0.1vw;
}

.variantBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4vh;
}

.variantName{
    width: 10vw;
    font-size: large;
    font-weight: 500;
}

.variantEdit{
    background-color: #554BDA;
    padding: 1.5vh 3vw;
    font-size: medium;
    border-radius: 5px;
    margin-right: 2vw;
    color: white;
}

.variantDelete{
    background-color: lightgrey;
    padding: 1.5vh 3vw;
    font-size: medium;
    border-radius: 5px;
    color: black;

}

/* .addNewVariant{
    color:#554BDA;
    padding-left: 8.5vw;
    padding-top: 0.8vw;
} */

.lrp-Action{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 10vh 0vw;
    width: 40vw;
}

.lrp-ActionL{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #554BDA;
    background-color: white;
    border-radius: 5px;
    padding: 2vh 0vw;
    width: 15vw;
    color: #554BDA;
    font-size: medium;
    font-weight: 900;
}


.lrp-ActionR{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #554BDA;
    background-color: #554BDA;
    border-radius: 5px;
    padding: 2vh 0vw;
    width: 15vw;
    color: white;
    font-size: medium;
    font-weight: 900;
}

.saveProductBtn{
    color: whitesmoke;
    padding-top: 1vw;
    font-size: medium;
    font-weight: 500;
    padding-left: 18vw;
}


.saveProduct:hover{
    border-color:  lightgray;
}

.variant {
    margin-top: 1.5rem;
    display: flex;
    gap: 1.2rem;
    height: 5rem;
    flex-wrap: wrap;
}


.lrp-iBox {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    margin-top: 4vh;
}

.lrp-ipHead{
    font-size: medium;
    font-weight: 900;
    color: black;
    margin-bottom: 2vh;
}

.lrp-ipBox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.lrp-ip{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2vh;
    position: relative;
}

.lrp-ip-D1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.lrp-ip-D1-active{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background-color: #554BDA;
    border: 2px solid #554BDA;
    border-radius: 2px;
    margin-right: 0.5vw;
}

.lrp-ip-D1-inactive{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background-color: white;
    border: 2px solid #554BDA;
    border-radius: 2px;
    margin-right: 0.5vw;
}

.lrp-ipT1{
    font-size: small;
    font-weight: 500;
    color: black;
    margin-right: 2px;
}

.lrp-ipT2{
    font-size: small;
    font-weight: 500;
    color: red;
}

.lrp-ipInput{
    width: 15vw;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 2vh 1vw;
}

.lrp-ipInputError{
    width: 15vw;
    border: 2px solid red;
    border-radius: 5px;
    padding: 2vh 1vw;
}

.lrp-ipInputSize{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 15vw;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 2vh 1vw;
}

.lrp-ipInputSizeError{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 15vw;
    border: 2px solid red;
    border-radius: 5px;
    padding: 2vh 1vw;
}

.lrp-ipInputT1{
    font-size: small;
    font-weight: 500;
    color: black;
    margin: 0px;
}

.lrp-ipDD {
    background-color: white;
    border-radius: 5px;
    padding: 2vh 1vw;
    width: 15vw;
    border: 1px solid lightgray;
}

.lrp-ipDDError {
    background-color: white;
    border-radius: 5px;
    padding: 2vh 1vw;
    width: 15vw;
    border: 2px solid red;
}

.lrp-ipInputSizeDD{
    position: absolute;
    margin-top: 5vh;
    width: 15vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.1);
    padding: 1vh 1vw;
}

.lrp-ipInputSizeDDInactive{
    display: none;
}

.lrp-ipInputSizeDDI{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 1vw;
}

.lrp-ipInputSizeDDIC{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #554BDA;
    border-radius: 2px;
    border: 2px solid #554BDA;
    height: 15px;
    width: 15px;
}

.lrp-ipInputSizeDDICInactive{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #554BDA;
    height: 15px;
    width: 15px;
}

.lrp-ipInputSizeDDIT1{
    font-size: medium;
    font-weight: 500;
    margin-left: 2px;
}

.lrp-ipInputSizeDDB{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 2vh;
}
.lrp-ipInputSizeDDBL{
    font-size: small;
    font-weight: 900;
    color: #554BDA;
    margin: 1vh 0vw;
}

.lrp-ipInputSizeDDBR{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #554BDA;
    padding: 1vh 1vw;
    border-radius: 5px;
    font-size: small;
    font-weight: 900;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.1);
}

.lrp-ipSTable{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 2vh 0vw;
    max-height: 70vh;
    overflow: scroll;
}

.lrp-ipSTableInactive{
    display: none;
}

.lrp-ipSTableTB{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.lrp-ipSTableTBD1 {
    font-size: small;
    color: black;
    font-weight: 900;
    min-width: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e4ff;
    padding: 1vh 0; 
}

.lrp-ipSTableTBD2 {
    font-size: small;
    color: black;
    font-weight: 900;
    min-width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e4ff;
    padding: 1vh 0; 
}

.lrp-ipSTableTBD3 {
    font-size: small;
    color: black;
    font-weight: 900;
    min-width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e4ff;
    padding: 1vh 0; 
}

.lrp-ipSTableTBD4 {
    font-size: small;
    color: black;
    font-weight: 900;
    min-width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e4ff;
    padding: 1vh 0; 
}

.lrp-ipSTableTBD5 {
    font-size: small;
    color: black;
    font-weight: 900;
    min-width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e4ff;
    padding: 1vh 0; 
    color: transparent;
}

.lrp-ipSTableBody {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.lrp-ipSTableBodyD1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #554BDA;
    border-bottom: 1px solid #554BDA;
    min-width: 9vw;
    height: 100%;
    padding: 5vh 3vw;
    box-sizing: border-box;
}

.lrp-ipSTableBodyD2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #554BDA;
    border-bottom: 1px solid #554BDA;
    min-width: 12vw;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

.lrp-ipSTableBodyD2I{
    max-width: 6vw;
    padding: 1vh 2px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5vh 3vw;
}

.lrp-ipSTableBodyD2IError{
    max-width: 6vw;
    padding: 1vh 2px;
    border: 2px solid red;
    border-radius: 5px;
    margin: 5vh 3vw 0vh 3vw;
}

.lrp-ipSTableBodyD3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #554BDA;
    border-bottom: 1px solid #554BDA;
    min-width: 15vw;
    height: 100%;
    box-sizing: border-box;
}

.lrp-ipSTableBodyD3I{
    min-width: 9vw;
    padding: 1vh 2px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5vh 3vw ;
}

.lrp-ipSTableBodyD3IError{
    min-width: 9vw;
    padding: 1vh 2px;
    border: 2px solid red;
    border-radius: 5px;
    margin: 5vh 3vw 0vh 3vw;
}

.lrp-ipSTableBodyD4{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #554BDA;
    border-bottom: 1px solid #554BDA;
    min-width: 12vw;
    height: 100%;
    box-sizing: border-box;
}

.lrp-ipSTableBodyD4DD{
    min-width: 6vw;
    padding: 1vh 2px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5vh 3vw;
}

.lrp-ipSTableBodyD5{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #554BDA;
    border-bottom: 1px solid #554BDA;
    height: 100%;
    min-width: 5vw;
    padding: 5vh 0vw;
    color: grey;
    box-sizing: border-box;
}


.lrp-vBox {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.lrp-v{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 2vw;
    background-color: #554BDA;
    padding: 1vh;
    border-radius: 5px;
    margin-top: 2vh;
}

.lrp-vInactive{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 2vw;
    margin-top: 2vh;
}

.lrp-vImg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
    height: 5vw;
    width: 5vw;
    border-radius: 5px;
    color: white;
    font-size: x-small;
    align-self: center;
    background-color: black;
    object-fit: cover;
}

.lrp-vVideo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
    height: 5vw;
    width: 5vw;
    object-fit: cover;
    border-radius: 5px;
    align-self: center;
    background-color: black;
}

.lrp-vT1{
    font-size: small;
    font-weight: 500;
    color: white;
    margin-top: 1vh;
}

.lrp-vT1Inactive{
    font-size: small;
    font-weight: 500;
    color: black;
    margin-top: 1vh;
}

.lrp-vAddBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
}

.lrp-vAddInput{
    background-color: transparent;
    color: transparent;
    width: 5vw;
    height: 5vw;
    border-radius: 5px;
    border: 1.5px dashed #554BDA;
}

.lrp-vAddInput::-webkit-file-upload-button { 
    display: none;
    visibility: hidden;
    -webkit-appearance:none;
   -webkit-box-sizing:border-box;
   content: none;
  }


  .lrp-vAddInput::before {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 2px;
    content: '+';
    font-size: 3vw;
    font-weight: 500;
    color: #554BDA;
    width: 5vw;
    height: 5vw;
  }

  .lrp-vAddInput:hover::before {
    background-color: #ded7ff;
  }

.lrp-vAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    border-radius: 5px;
    border: 1px dashed #554BDA;
    margin-bottom: 2px;
}

.lrp-vT2{
    font-size: small;
    font-weight: 500;
    color: black;
    margin-top: 1vh;
}

.aibDelete{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: start;
    margin-left: 4vw;
    flex-direction: row;
    color: #554BDA;
    width: fit-content;
    border-radius: 5px;
    padding: 1vh 2vw;
}

.aibDelete:hover{
    color: red;
    cursor: pointer;
}

.aibDeleteT1{
    font-size: medium;
    font-weight: 900;
    margin-left: 1vw;
}

.lrp-ErrorT1{
    font-size: 12px;
    font-weight: 500;
    color: red;
    margin: 1vh 2px 2vh 2px;
}

.lrp-ErrorT1Inactive{
    display: none;
}

.lrp-Brand{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 45vw;
    margin-top: 4vh;
}

.lrp-Brand-Or{
    font-size: medium;
    font-weight: bold;
    color: black;
    margin-right: 5vw;
}

.lrp-Brand-Select{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2vh;
    position: relative;
    margin-right: 5vw;
}

.lrp-Brand-Custom{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2vh;
    position: relative;
}

.lrp-Brand-Custom-Button{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    padding: 2vh 0vw;
    position: relative;
    background-color: #e3ddff;
    color: #554BDA;
    font-size: small;
    font-weight: 500;
    border-radius: 2px;
    box-shadow: 2px 2px 1px 1px rgb(0,0,0,0.1);
    height: fit-content;
}