.snackbar{
    position: fixed;
    bottom: 5vh;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 1vh 2vw;   
    min-width: 20vw;
    max-width: 50vw;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 10px rgb(0,0,0,0.1);
    z-index: 9999999999999999999;
    box-sizing: border-box;
}

.snackbar-msz{
    font-size: medium;
    font-weight: 500;
    margin-right: 8vw;
}

.snackbar-ok{
    font-size: small;
    font-weight: bold; 
    cursor: pointer;  
}