.modalContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    height: 15vh;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    position: relative;
    align-content: center;
    margin-top: 3vh;
}

.modalTitle{
    font-weight: 600;
    padding:0 0 1vh 2vw;
    font-size: large;
}

.modaldesc{
    display: flex;
    justify-content: flex-start;
    padding-left: 2vw;
}
.inputDesc input{
    border: 2px solid lightgrey;
    border-radius: 5px;
    width: 20vw;
    height: 5vh;
}

.inputDesc ::placeholder{
    margin: 2px 2px;
}

.inputPlaceholder::placeholder{
    color: #9C9BA4;
    padding-left: 10px;
    font-weight: 600;
}

.button{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 10vw;
    border-radius: 5px;
    margin-left: 1vw;
    color: white;
    background-color:rgba(63, 43, 150, 0.8);
    height: 5vh;
}
.button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(93, 84, 84, 0.24);
    /* Lowering the shadow */
}