.oprc-titlebar{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .oprc-titlebar-active{
    width: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh 0vw;
    color: #554BDA;
    border-bottom: 4px solid #554BDA;
    cursor: pointer;
  }

  .oprc-titlebar-inactive{
    width: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
    padding-bottom: calc(4vh + 3px);
    border-bottom: 1px solid #ecebff;
    font-size: medium;
    color: grey;
    font-weight: bold;
    cursor: pointer;
  }

  .oprc-titlebar-active-T1{
    font-size: 14px;
    color: #554BDA;
    font-weight: bold;
  }

  .oprc-titlebar-inactive{
    font-size: 14px;
    color: grey;
    font-weight: bold;
  }

  .oprc-titlebar-active-count{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    /* width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: orange; */
    height: 2vw;
    font-size: 14px;
    font-weight: bold;
  }

  .oprc-titlebar-inactive-count{
    /* width: 0vw; */
    height: 2vw;
    color: transparent;
    margin-left: 1vw;
  }

  .oprc-error{
    display: flex;
    width: 80vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
  }
  
  .oprc-error-img {
    width: 30vw;
    height: 20vw;
    cursor: pointer;
    object-fit: cover;
  }
  
  .oprc-error-refresh{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 2vw;
    border-radius: 20px;
    border: 2px solid #554BDA;
    font-size: small;
    font-weight: bold;
    color: #554BDA;
    cursor: pointer;
  }

  .oprc-nodata{
    display: flex;
    width: 80vw;
    margin-top: 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .oprc-nodata-img {
    width: 30vw;
    height: 20vw;
    cursor: pointer;
    object-fit: cover;
  }
  
  .oprc-nodata-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 2vw;
    font-size: small;
    font-weight: bold;
    color: grey;
    cursor: pointer;
    margin: 1vh 0vw 2vh;
  }

  .oprc-nodata-add{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vw;
    border-radius: 20px;
    background-color: #554BDA;
    font-size: small;
    font-weight: bold;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.1);
  }

  .oprc-loader1 {
    border: 5px solid #cecece; /* Light grey */
    border-top: 5px solid #554BDA; /* Blue */
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    margin-left: 57.5vw;
    align-self: center;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}