.mdcBox{
    font-family: sans-serif;
    margin-top: 2vh;
    padding-left: 4vw;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: row;
    border-bottom: 0.5vh solid lightGrey;
    align-items: center;
}

.mdcImage{
    height: 15vw;
    width: 15vw;
}

.mdcMid{
    width: 64vw;
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
}

.mdcMidTop{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mdcMidS{
    font-size: small;
    font-weight: 500;
    margin-left: 2vw;
}

.mdcMidA{
    font-size: small;
    font-weight: 300;
    color: rgb(33, 165, 33);
    margin-top: 0.5vh;
}

.mdcMidName{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1vh;
}

.mdcMidNameB{
    font-size: small;
    font-weight: bold;
    margin-right: 2vw;
}

.mdcMidNameT{
    font-size: small;
    font-weight: 300;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}