.apMainBox{
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vh 5vw;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #554BDA;
    position: relative;
}

.apMainBox-l1{
    position: absolute;
    top: calc(1.5vh + 8px);
    left: calc(20vw + 8px)
}

.apMainBox-l2{
    position: absolute;
    top: calc(1.5vh + 8px);
}

.apMainBox-l3{
    position: absolute;
    top: calc(1.5vh + 8px);
    right: calc(20vw + 8px)
}

.hr-inactive{
    z-index: -1;
    border: none;
    align-self: center;
    border-top: 2px solid lightgrey;
    color: #fff;
    background-color: transparent;
    width: calc(20vw - 16px);
}

.hr-active{
    z-index: -1;
    border: none;
    align-self: center;
    border-top: 2px solid #554BDA;
    color: #fff;
    background-color: transparent;
    width: calc(20vw - 16px);
}

.apBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */
    width: 20vw;
}

.apBox-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid #554BDA;
    background-color: white;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 500;
    color: #554BDA;
}

.apBox-circle-inactive{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 500;
    color: lightgrey;
}

.apBox-circle-completed{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid #554BDA;
    background-color: #554BDA;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 500;
    color: white;
}

.apBox-circle-t{
    font-size: 10px;
}

.apBox-t1{
    font-size: 10px;
    color: lightgrey;
    font-weight: 500; 
    margin-top: 4px;
}

.apBox-t2{
    font-size: 10px;
    color: #554BDA;
    font-weight: 500;
    margin-top: 4px;
}

.apBox1{
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding: 4vh 0 2vh 0;
    width: 70vw;
}

.apBox2{
    flex-direction: row;
    display: flex;
    align-self: center;
    width: 70vw;
    justify-content: space-between;
    padding-bottom: 2vh;
}

.apTitle1{
    position: absolute;
    left: 15vw;
    display: flex;
    align-self: center;
    font-weight: 700;
    font-size: 3.2vw;
}

.apTitle12{
    position: absolute;
    left: 17vw;
    display: flex;
    align-self: center;
    font-weight: 700;
    font-size: 3.2vw; 
}

.apTitle2{
    position: absolute;
    left: 46.5vw;
    display: flex;
    align-self: center;
    font-weight: 700;
    font-size: 3.2vw;
}

.apTitle22{
    position: absolute;
    left: 44vw;
    display: flex;
    align-self: center;
    font-weight: 700;
    font-size: 3.2vw;
}

.apTitle3{
    position: absolute;
    left: 72vw;
    display: flex;
    align-self: center;
    font-weight: 700;
    font-size: 3.2vw;
}

.apSubBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apCompleted{
    height: 2.5vw;
    width: 2.5vw;
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    border-radius: 2.5vw;
    color: white;
    font-weight: 700;
    background-color: #554BDA;
}

.apActive{
    height: 2.5vw;
    width: 2.5vw;
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    border-radius: 2.5vw;
    color: white;
    font-weight: 700;
    background-color: #554BDA;
}

.apInActive{
    height: 2.5vw;
    width: 2.5vw;
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    border-radius: 2.5vw;
    color: #554BDA;
    font-weight: 700;
    border:2px solid #554BDA;
    background-color: white;
}

/* .hrActive{
    border: none;
    align-self: center;
    border-top: 2px dashed #554BDA;
    color: #fff;
    background-color: transparent;
    height: 0.5px;
    width: 20vw;
}

.hrCompleted{
    border: none;
    align-self: center;
    border-top: 2px solid #554BDA;
    color: #fff;
    background-color: transparent;
    height: 0.5px;
    width: 20vw;
} */
#class {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}