.mwc {
    border: 2px solid #fffdfd;
    width: 43vw;
    padding: 1vw 1vw;
    margin: 2vw 2vw;
    z-index: 1;
    background-color: #fff;
    font-family: sans-serif;
    }
    
    
    
    .mwc-image-box {
      display: flex;
      position: relative;
      height: 43vw;
      text-align: center;
      justify-content: center;
      z-index: 1;
    }
    
    
    .mwc-wishlist-box{
      display: flex;
      cursor: pointer;
      position: absolute;
      right: 1vw;
      justify-content: flex-end;
      z-index: 1;
    }
    .mwc-image {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
    
    .mwc-info-box {
      padding: 1vw;
    }
    
    .mwc-info-box-brand {
      align-items: center;
      color:#929292;
      font-size: small;
      width: fit-content;
      
    }
    
    .mwc-rating-box {
      display: flex;
      align-self: flex-start;
      width: 100%;
      flex-direction: row;
      align-items: flex-end;
      align-content: center;
      justify-content: flex-start;
      margin-left: 1vw;
    }
    
    .mwc-rating-box-count{
      display: flex;
      font-weight: 500;
      font-size: x-small;
      align-self: safe;
      margin-left: 2px;
    }
    .mwc-info-box-price-box{
      display: flex;
      margin: 1vh 0px 0px 0px;
      justify-content: flex-start;
      align-items: center;
    }
    .mwc-info-box-price-box-price{
        padding-right: 6px;
        font-size: small;
      font-weight: 600;
    
    }
    
    .mwc-info-box-price-box-mrp{
        padding-right: 6px;
        font-size: small;
      font-weight: 500;
      color: rgb(150, 142, 142);
    }
    
    .mwc-info-box-price-box-discount{
        font-size: small;
      color: #2FB84D;
    }
  
    .mwc-info-box-name{
      font-size: x-small;
    }
    
    .mwc-addtocart{
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      color: white;
      background-color: #554BDA;
      font-size: small;
      font-weight: 500;
      padding: 1vh 2vw;
      margin: 1vh 1.5vw 0vh 1.5vw;
      width: 40vw;
      border-radius: 5px;
      box-shadow: 4px 4px 2px 2px rgb(0,0,0,0.1);
      box-sizing: border-box;
    }

    .mwc-gotocart{
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      color: #554BDA;
      background-color: white;
      border: 1px solid #554BDA;
      font-size: small;
      font-weight: 500;
      padding: 1vh 2vw;
      margin: 1vh 1.5vw 0vh 1.5vw;
      width: 40vw;
      border-radius: 5px;
      box-sizing: border-box;
    }
    
    
    