*{
    padding:0px;
    margin:0px;
}

.bigBox{
    display: flex;  
    width: 30vw;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 4vh;
    justify-content: center;
    align-self: center;
    padding-top:20px;
}
.price-detail{
    width: 300px;
    text-align: flex-start;
    padding:15px 50px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    border-bottom: 0px solid transparent;
    border-top-right-radius:2px;
    border-top-left-radius:2px;
    color: #554BDA;
    font-weight: bold;
    font-size: 20px;
}

.body{
    width:300px;
    padding:15px 50px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
}

.body div{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price{
    padding:5px 0px;

}
.discount{
    padding:20px 0px;   
}
.discount p:last-child{
    color: rgb(44, 243, 44);
}
.delivery-charges{
    padding: 20px 0px;
}

.pr1{
    font-size: medium;
    font-weight: 500;
}
.pr2{
    font-size: medium;
    font-weight: 600;
}
.dis1{
    font-size: medium;
    font-weight: 500;
}
.dis2{
    font-size: medium;
    font-weight: 600;
}

.dc1{
    font-size: medium;
    font-weight: 500;
}
.dc2{
    font-size: medium;
    font-weight: 600;
}
.totalAmount p{
    padding:30px 0px;
    color: #554BDA;
    font-weight: bold;
    font-size: medium;
}

.place-order{
    color: white;
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:300px;
    border:1px solid #554BDA;
    border-radius:5px;
    padding:15px 50px;
    background-color: #554BDA;

}
