.draftitems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    list-style: none;
    border-bottom: 2px solid #554BDA;
  }

  .draftimg {
    position: relative;
    display: flex;
    min-width: 8%;
    max-width: 8%;
    height: 100%;
    /* border-right: 2px solid #554BDA; */
    align-items: center;
    justify-content: center;
  }
  
  .draftitemsImg{
      width: 80%;
      height: 90%;
  }

  .draftitemInfo{
    max-width: 18%;
    min-width: 18%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #554BDA;
    padding: 1vh 1vw;
    overflow: hidden;
  }
  
  .draftitemBrand{
    max-width: 100%;
    min-width: 100%;
    align-self: start;
    font-size: small;
    font-weight: 500;
    color: grey;
    overflow: hidden;
  }
  .draftitemsTitle{
    align-self: start;
    max-width: 100%;
    min-width: 100%;
    font-size: small;
    font-weight: 500;
    color: black;
    overflow: hidden;
  }
  .draftitemsCat{
    height: 100%;
    max-width: 15%;
    min-width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    border-right: 2px solid #554BDA;
    font-size: small;
    font-weight: 500;
    color: black;
  }
  
  
  .draftitemsSKu{
    /* flex: 2; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 22%;
    min-width: 22%;
    height: 100%;
    word-wrap: break-word;
    border-right: 2px solid #554BDA;
    font-size: x-small;
    font-weight: 500;
    color: black;
  }

  .draftitemsModified{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    word-wrap: break-word;
    max-width: 16%;
    min-width: 16%;
    font-size: small;
    font-weight: 500;
    color: black;
  } 
  
  .draftitemsCreated{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #554BDA;
    display: flex;
    height: 100%;
    word-wrap: break-word;
    max-width: 16%;
    min-width: 16%;
    font-size: small;
    font-weight: 500;
    color: black;
  }
  .draftitemsMore{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    min-width: 5%;
    max-width: 5%;
    word-wrap: break-word;
    border-left: 2px solid #554BDA;
  }

  .draftdropdown-content {
    position: absolute;
    width: 6%;
    background-color: #e3ddff;
    right: 3vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-top: 1vh;
  }

  .draftdropdown-contentInactive{
    display: none;
  }

  .draftcontent{
    display: flex;
    padding: 2vh 2vw;
    justify-content: space-between;
    align-items: center;
  }

  .draftcontentitem{
    color: black;
    font-size: small;
    font-weight: 500;
    width: 100%;
    align-items: center;
    margin-bottom: 1vh;
    text-align: center;
    padding: 1vh 0vw;
  }

  .draftcontentitem:hover{
    background-color: white;
  }