*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 400px) {

    .place-Order-Mobile-Container{
        display: flex;
        margin: 4px 4px;
        width: 390px;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
        padding: 2px 2px;
    }
    
    .menu{
        width: 100%;
        height: 50px;
        display: flex;
        z-index: 1;
        position: sticky;
        top: 0;
    }
    
    .place-Order-Mobile-cart-steps{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content:center;
    }

    .place-Order-Mobile-steps{
        display: flex;  
        width: 70%;
        align-items: center;
        justify-content: space-between;
      } 

      .place-Order-Mobile-step-description{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      
      .place-Order-Mobile-step1{
        margin: 2px ;
        padding: 2px;
        display: flex;
        height: 19px;
        justify-content: center;
        background-color: #3F2B96;
        color: white;
        align-self: center;
        width:19px;
        border: 3px solid #3F2B96;;
        border-radius: 50%;
      }

      .place-Order-Mobile-step-p{
        flex: 1;
        font-size: 13px;
        color: #3F2B96;
      }

      .unvisited{
        background-color: white;
        color:#3F2B96 ;
      }


      .place-Order-Mobile-giftCard{
        display: flex;
        width: 390px;
        margin-top: 27px;
         /* flex: 1; */
        /* border: 2px solid black; */
        flex-direction: column;
    
    }
    
    .place-Order-Mobile-title{
        font-size: 16px;
        color: black;
    }
    .place-Order-Mobile-giftContainer{
        border-top:3px solid #C6C5CE;
        /* width: 390px; */
        padding: 2px 2px;
        /* margin: 2px 2px; */
    }
    
    .place-Order-Mobile-details{
        display: flex;
        padding: 4px 5px;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        margin-left: 13px;
        
    }

    .img-container{
        width: 109px;
        height: 94px;
        object-fit: cover;
    }
    
    .place-Order-Mobile-img{
        width: 99px;
        height: 98px;
        object-fit: cover;
    }
    
    .place-Order-Mobile-contentContainer{
        display: flex;
    }
    .place-Order-Mobile-message{
        font-size: 20px;
        font-weight: 600;
        padding: 2px;
        margin: 2px;
    }
    
    .place-Order-Mobile-message-sm{
        font-size: 12px;
        font-weight: 400;
        padding: 2px;
        margin: 2px;
    }

    .place-Order-Mobile-message-container{
        height: 100px;
        width: 60px;
    }

    .place-Order-Mobile-field-message{
            height: 50px;
            padding: 2px;
            margin: 2px;
    }

    
    .place-Order-Mobile-btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .place-Order-Mobile-gift-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 6px;
        height: 33px;
        border: none;
        font-size: 20px;
        color: white;
        background-color: rgba(63, 43, 150, 0.8);
        padding: 4px 4px;
        width: 63%;
        border-radius: 9px;
    }
        
    
    
    
.place-Order-Mobile-bigBox{
    display: flex;
    width: 100%;
    /* height: 186px; */
    /* margin-top: 127px; */
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
   
}
.place-Order-Mobile-price-detail{
    width: 300px;
    text-align: flex-start;
    padding:15px 50px;
    border:1px solid  rgb(197, 195, 195);
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    color: #3F2B96;
    font-weight: bold;
    font-size: 20px;
}

.place-Order-Mobile-body{
    width:300px;
    padding:15px 50px;
    border:1px solid  rgb(197, 195, 195);
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
}

.place-Order-Mobile-body div{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.place-Order-Mobile-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.place-Order-Mobile-price{
    padding:5px 0px;

}
.place-Order-Mobile-discount{
    padding:20px 0px;
    
}
.place-Order-Mobile-discount p:last-child{
    color: rgb(44, 243, 44);
}
.place-Order-Mobile-delivery-charges{
    padding: 20px 0px;
}
.place-Order-Mobile-total{
    padding:30px 0px;
    border-top: 1px solid  rgb(197, 195, 195);
    color: #3F2B96;
    font-weight: bold;
    font-size: 18px;
}

.place-Order-Mobile-place-order{
    color: white;
    font-weight: bold;
    /* position: absolute; */
    margin-top: 10px;
    /* bottom: 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width:300px;
    border:2px solid #3F2B96;
    border-radius:10px;
    padding:15px 50px;
    background-color: #3F2B96;
    /* margin-top: -10px; */
}

    
  }