

.signupform{
    
    position:absolute;
    width: 395px;
    height: 498px;
    background: #FFFFFF;
    margin-top: 141px;
    margin-left: 551px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    
   
   }
   
   